*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

/* Container-main */


/* Section-1 */

header{
    background-color: aqua;
}

div.box-container.flex{
    width: 80%;
    margin: 0 auto;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header div section {
    width: 20%;

}

nav ul {
    display: flex;
    width: 60%;
    list-style-type: none;
}
